#firstpage, #finalscore, #highscore {
    text-align: center;
    padding: 50px;
}

#header {
    display:inline;
 
}

#Highscore {
    display: inline;
    color: lightcoral;
    width:50%;
}

#timer {
    display: inline;
    color: blue;
    position:absolute;
    right:0;
    padding-right: 5px;
}

#quiz {
    margin:30px;
    padding: 5px;
}

#question-container {
    display:none;
    text-align: center;
}

button, .choice {
    background-color: lightgreen;
}

.choice:hover, button:hover, choice:hover {
    background-color: #febc5d;
  }